html
    head
        link(href='//cdnjs.cloudflare.com/ajax/libs/foundation/5.4.5/css/foundation.css', rel='stylesheet')

    body
        .row
            .large-5.columns
                h2#title LevelGraph TM data
                
                p Here are the current json data feeds
                    ul
                        ul
                            li 
                                a(href='/dataFilePath'      target='_blank') /dataFilePath
                            li 
                                a(href='/data.json'         target='_blank') /data.json
                            li 
                                a(href='/searchGraph.json'  target='_blank') /searchGraph.json
                            li  
                                a(href='/query/subject/1106d793193b '  target='_blank') /query/subject/1106d793193b    
                            li  
                                a(href='/query/predicate/View'         target='_blank') /query/predicate/View
                            li  
                                a(href='/query/object/Article'         target='_blank') /query/object/Article
                                
                                

